    </main>
    <footer>
        <p>&copy; <%= new Date().getFullYear() %> Daniel B. Faria Filho</p>
        <div class="contact-info">
            <p>Discord: <span class="discord-username">daniel_faria</span></p>
            <p>Email: <a href="mailto:inquiries@danielfaria.cc">inquiries@danielfaria.cc</a></p>
            <p>Phone: <a href="tel:774-418-5858">+1 (774) 418-5858</a></p>
        </div>
    </footer>
    <script src="/js/age-update.js"></script>
</body>
</html> 